.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#header{
  font-size: 4rem;
}



form{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

form>.form-group{
  width: 100%;
}

form>button{
  width: 30%;
}


#search-text{
  font-size: 3rem;
}
